
@{
    ViewData["Title"] = "Index";
}

<h2>Gestão de Participantes - Escolha uma opção</h2>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Participantes" asp-action="IncluirParticipante">Incluir Participante</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Participantes" asp-action="ListarParticipantesAjax">Listar Participantes</a>
    </li>
</ul>