
@{
    ViewData["Title"] = "Index";
}

<h2>Gestão de Eventos - Escolha uma opção</h2>
<ul class="list-group">
    <li class="list-group-item"><a asp-controller="Eventos" asp-action="ListarEventos">Listar Eventos</a></li>
    <li class="list-group-item"><a asp-controller="Eventos" asp-action="IncluirEvento">Cadastrar Evento</a></li>
</ul>

