
@{
    ViewData["Title"] = "Index";
}

<h2>Selecione uma opção</h2>

<ul class="list-group">
    <li class="list-group-item"><a asp-controller="Inicio" asp-action="MostrarPDF">Mostrar PDF</a></li>
    <li class="list-group-item"><a asp-controller="Inicio" asp-action="MostrarImagem">Mostrar Imagem</a></li>
    <li class="list-group-item"><a asp-controller="Inicio" asp-action="MostrarConteudo">Mostrar Conteúdo</a></li>
    <li class="list-group-item"><a asp-controller="Inicio" asp-action="MostrarProduto">Mostrar Produto</a></li>
    <li class="list-group-item"><a asp-controller="Inicio" asp-action="ListarProdutos1">Listrar Produto (List)</a></li>
    <li class="list-group-item"><a asp-controller="Inicio" asp-action="ListarProdutos2">Listrar Produto (HashSet)</a></li>
    <li class="list-group-item"><a asp-controller="Inicio" asp-action="CadastroProduto">Cadastro Produto</a></li>
    
</ul>