@model IEnumerable<Produto>
@{
    ViewData["Title"] = "ListarProdutos1";
}

<h2>Lista de Produtos</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Código</th>
            <th>Descrição</th>
            <th>Preço</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Codigo</td>
                <td>@item.Descricao</td>
                <td>@item.Preco.ToString("c")</td>
            </tr>
        }

    </tbody>
</table>

